APP_ENV=

# Set to 'debug' for dev, 'info' for production
LOG_LEVEL=

# Database Configuration
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
DB_APP_PARAMS=
DB_MIGRATE_PARAMS=

# Redis Configuration
REDIS_ADDR=
REDIS_PASSWORD=

# Security Settings
BCRYPT_COST=
ACCESS_TOKEN_TTL=
REFRESH_TOKEN_TTL=

# Circuit Breaker Settings
DB_MAX_REQUESTS=
DB_INTERVAL=
DB_TIMEOUT=
DB_FAILURE_RATIO=
DB_CONSECUTIVE_FAILURE=

# Global Timeout Settings
TIMEOUT_AUTH=
TIMEOUT_STANDARD=
TIMEOUT_LONG=

#Brute force (rate limiter) settings 
RATELIMITER_MAX_ATTEMPTS=
RATELIMITER_BANDURATION=

#Shadow limiter settings
SHADOWLIMITER_MAX_ATTEMPTS=
SHADOWLIMITER_WINDOW=

# GRPC
GRPC_ADDR=